---
layout: default
---
<div class="posts">
    <ul>
      {% for post in site.posts %}
        <li>
          <h1>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>

          {% if post.excerpt != blank %}
            <p class="posts-excerpt">{{ post.excerpt }}</p>
          {% else %}
            <p class="posts-excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>
          {% endif %}

          <time>{{ post.date | date: "%b %-d, %Y" }}</time> • {{post.author}}
        </li>
      {% endfor %}
    </ul>
</div>
