<div class="git-info">
<nav>
  <ul class="inline">
    <li>
        <a target="_blank" title="View site source on GitHub" href="https://github.com/widen/widen.github.io/">source</a>
    </li>
    <li>
        <a target="_blank" title="View current page on GitHub" href="https://github.com/widen/widen.github.io/blob/develop/{{page.path}}">view</a>
    </li>
    <li>
        <a target="_blank" title="Edit current page on GitHub" href="https://github.com/widen/widen.github.io/edit/develop/{{page.path}}">edit</a>
    </li>
    <li>
        <a ="_blank" title="Last site commit" href="https://github.com/widen/widen.github.io/commit/{{site.git.last_commit.short_sha}}">{{site.git.last_commit.short_sha}}</a>
    </li>
    <li>
        <a target="_blank" title="Last page commit" href="https://github.com/widen/widen.github.io/commit/{{page.git.last_commit.short_sha}}">{{page.git.last_commit.short_sha}}</a>
    </li>
  </ul>
  </nav >
</div>
