<header class="site-header" role="banner">
    <img class="logo" alt="Widen-Flat-Red-Icon-RGB" src="https://embed.widencdn.net/img/widen/gjpgtotgfw/100x100px@2x/Widen Flat Red Icon RGB.png?keep=c&u=ksmgip"/>
    <h2>
        <a href="/">
            {{ site.title }}
        </a>
    </h2>
    <!--<h2>{{ site.description }}</h2>-->

  <nav role="navigation">
    <ul class="site-social-links">
        <li class="ion-social-rss"><a title="RSS Feed" href="#"></a></li>
        <li class="ion-social-github"><a title="GitHub" href="#"></a></li>
        <li class="ion-social-twitter"><a title="Twitter" href="#"></a></li>
    </ul>
  </nav>

</header>
