.wrapper {
  max-width: $body-width;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  clear: both;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

.content {
    margin-top: 21px;
    margin-bottom: 21px;

    h1 {
        margin-bottom: 13px;
    }
    h2 {
        margin-bottom: 8px;
    }
    h3 {
        margin-bottom: 5px;
    }
    h4, h5, h6 { margin-bottom: 3px; }

    header {
        h1 {
            margin-bottom: 13px;
        }
        margin-bottom: 34px;
    }

}

.git-info {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.git-info:hover {
    opacity: 0.5
}
