.wrapper {
  max-width: $body-width;
  margin: 0 auto;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

.content {
    margin-top: 21px;
    margin-bottom: 21px;

}
.content>h1 {
        font-weight: 600;
        margin-bottom: 13px;
    }
