footer.site-footer {
    margin-top: 21px;
    text-align: center;
    font-size: 80%;
    nav {
        margin-top: 34px;
        margin-bottom: 34px;
    }
    li {
        margin-top: 8px;
    }
    li + li:before{
        content: "   ";
        padding: 0 8px;
    }
    .logo {
        height: 4rem;
        height: 4rem;
        margin-top: 21px;
    }
    .site-social-links {
        font-size: 3rem;
    }
}
