*, *::after, *::before
{
  @include box-sizing(border-box);
}

html
{
  font-size: 140%;
}

body {
  background-color: $body-background-color;
  font-family: $default-font;
}

pre > code {
    font-family: $mono-font;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1.0rem; }

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

p {
  line-height: $copy-line-height;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}
