*, *::after, *::before
{
  @include box-sizing(border-box);
}

html
{
  font-size: $base-font-size;
}

body {
  font-size: $copy-font-size;
  background-color: $body-background-color;
  font-family: $default-font-family;
}

h1 { font-size: 2.8rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 2.1rem; }
h6 { font-size: 2.0rem; }

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font-family;
    color: $red;
}

p {
  line-height: $copy-line-height;
  margin-bottom: 1rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

small {
    font-size: 80%;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
    color: $red;
}

a:hover {
}
// all code/monospaced elements
code {
    font-family: $mono-font-family;
}

// a code block
pre > code {
    display: block;
    white-space: pre;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;

    > span {
      display: inline-block;
      padding-bottom: 3px;
    }
}

// lists
ul.inline {
    @include inline-list();
}

// clear!
.clear {
    clear: both;
}
