header.site-header{

    background-color: $dark-grey;
    padding: 14px 0 10px 0;

    .logo {

        a {
            float: left;
            display: inline-block;
            color: $white;
        }

    }

    h2 {
        display: inline;
        position: relative;
        float: left;
        font-size: 3rem;
        margin-left: 13px;
        color: $white;
        a {
            color: $white;
        }
    }

    nav {
        color: $black;
        display: inline;

        ul {
            @include inline-list();
            color: $red;
            font-size: 2.6rem;
        }

    }

}
