header.site-header{

    background-color: $light-grey;
    padding: 14px 0 10px 0;

    .logo {
        height: 2.6rem;
        width: 2.6rem;
    }

    h2 {
        display: inline;
        position: relative;
        top: -3px;
    }

    nav {
        color: $black;
        height: $copy-line-height;
        display: inline;

        ul {
            @include inline-list();
            color: $red;
            font-size: 2.6rem;
        }

        .site-page-links {
        }

        .site-social-links {
            float: right;
        }
    }

}
