.post {

    header {
        h1 {
            margin-bottom: 13px;
            font-weight: 600;
        }
        time {
            font-style: italic;
            margin-bottom: 8px;
        }
    }

    article {

    }
}
