// functional colors
$white: #fff;
$black: #000;
$red: #B72822;

// descriptive colors
$body-background-color: $white;

// widths
$body-width: 750px;

// text
$copy-line-height: 1.4rem;

// fonts
$default-font: Sans-Serif;
$header-font: Serif;
$mono-font: Monospace;

// logo
$logo-color: $red;

