---
layout: default
---
<div class="post">
    <header>
        <h1><a title="{{page.title}}" href="{{page.url}}">{{ page.title }}</a></h1>
      <p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {% if site.data.team.members[page.author] %}<a href="#">{{ site.data.team.members[page.author].name }}</a>{% else %}{{ page.author }}{% endif %}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article role="article">

      {{ content }}

    </article>
</div>
